<routes xmlns="http://camel.apache.org/schema/spring">
    <route streamCache="true">
        <from uri="direct:push"/>
        <doTry>
            <to uri="json-validator:userSchema.json"/>
            <unmarshal>
                <json library="Jackson" unmarshalTypeName="demo.User"/>
            </unmarshal>
            <bean ref="userAnonymizer" method="anonymize"/>
            <marshal ref="demo.User">
                <json library="Jackson"/>
            </marshal>
            <wireTap uri="activemq:Users"/>
            <transform>
                <constant>{"text":"Your message has been submitted for further processing"}</constant>
            </transform>
            <doCatch>
                <exception>org.apache.camel.component.jsonvalidator.JsonValidationException</exception>
                <process ref="jsonValidationProcessor"/>
            </doCatch>
        </doTry>
    </route>
    <route>
        <from uri="activemq:Users"/>
        <unmarshal>
            <json library="Jackson" unmarshalTypeName="demo.User"/>
        </unmarshal>
        <bean ref="userAnonymizer" method="deAnonymize"/>
    </route>
</routes>
